<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="top_navbar" th:fragment="top_navbar_frag">
    <div class="navbar">
        <div class="title-box">
            <h2><i class="fa-solid fa-user-doctor"></i> Medicine Search Project | Admin Page </h2>
        </div>
        <div class="navbar-utils">
            <div class="navbar-text">
                <span><strong>Admin</strong>님 환영합니다</span>

            </div>
            <div class="navbar-icons"  style="margin-right:40px;">
                <span><a href=""><i class="fa-solid fa-key" style="color: #fff;"></i></i></a></span>

            </div>
        </div>
    </div>
</div>
</body>
</html>