<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/mypageReset.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/update.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div th:replace="~{/fragments/header.html :: fragment-header}"></div>

<main>
    <div class="main-header">
        <div class="main-content">
            <aside class="mypage-aside">
                <div class="aside-title">
                    <div class="title-letter">
                        <strong>김회원</strong>님
                        <p><i class="fa-regular fa-envelope"></i>mail@mail.com</p>
                    </div>
                </div>

                <hr class="mypage-hr">

                <ul>
                    <li><a th:href="@{/mypage/update}"><i class="fa-solid fa-user-pen"></i>회원 정보 수정</a></li>
                    <li><a href=""><i class="fa-solid fa-capsules"></i> 저장한 약 정보</a></li>
                    <li><a href=""><i class="fa-solid fa-clipboard"></i> 내가 쓴 게시글</a></li>
                    <li><a href=""><i class="fa-solid fa-right-from-bracket"></i> 회원 탈퇴</a></li>
                </ul>

                <hr class="mypage-hr">

                <div class="logout-box">
                    <button class="logout-btn"><a th:href="@{/logout}">로그아웃</a></button>
                </div>
            </aside>
            <div class="content-container">
                <div class="title-box">
                    <h2>마이페이지</h2>
                </div>
                <div class="sub-title-box">
                    <p>
                        <i class="fa-solid fa-house"></i><a th:href="@{/mypage}"> <span>홈</span> </a>
                        <i class="fa-solid fa-angle-right"></i>
                        <a th:href="@{/mypage/update}"><strong>회원 정보 수정</strong></a>
                    </p>
                </div>
                <div class="content-wrap">
                    <form action="">
                        <div class="update-box first">
                            <p>회원 이름</p>
                               김회원

                        </div>
                        <div class="update-box">
                            <p>회원 이메일</p>
                            mail@mail.com

                        </div>
                        <div class="update-box">
                            <p>현재 비밀번호 입력</p>
                            <input type="password" name="disSym" id="disSym1" class="disSym" placeholder="현재 비밀번호를 입력하세요">
                        </div>
                        <div class="update-box">
                            <p>변경할 비밀번호 입력</p>
                            <input type="password" name="disSym" id="disSym2" class="disSym" placeholder="변경할 비밀번호를 입력하세요">
                        </div>
                        <div class="update-box last">
                            <p>비밀번호 다시 입력</p>
                            <input type="password" name="disSym" id="disSym3" class="disSym" placeholder="비밀번호를 다시 입력하세요">
                        </div>
                        <div class="dis-btn-box">
                            <button type="button" class="dis-btn"> 회원 정보 수정 </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
</body>
</html>