<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Insert</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminReset.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div id="sidebar">
            <th:block th:replace="~{admin/side_header::sidebar_header_frag}"></th:block>
            <th:block th:replace="~{admin/side_header::sidebar_components_frag}"></th:block>
        </div>
        <div id="content">
            <th:block th:replace="~{admin/top_navbar::top_navbar_frag}"></th:block>
            
            <div class="main_content">   
                <div class="main-content">
                    <div class="content_contanier">
                        <h3> Medicine Update</h3>
                        <form action="" method="post" enctype="multipart/form-data">
                            <table>
                                <tr>
                                    <th>약품 명</th>
                                    <td>
                                        <input type="text" name="medName" class="medName">
                                    </td>
                                </tr>
                                <tr>
                                    <th>유효 질병</th>
                                    <td class="dis">
                                        <input type="checkbox" name="medDis" class="medDis" value="감기">감기
                                        <input type="checkbox" name="medDis" class="medDis" value="설사">설사
                                        <input type="checkbox" name="medDis" class="medDis" value="소화불량">소화불량
                                        <input type="checkbox" name="medDis" class="medDis" value="생리통">생리통
                                        <input type="checkbox" name="medDis" class="medDis" value="알레르기">알레르기
                                        <input type="checkbox" name="medDis" class="medDis" value="편두통">편두통
                                        <input type="checkbox" name="medDis" class="medDis" value="인후통">인후통
                                        <input type="checkbox" name="medDis" class="medDis" value="멀미">멀미
                                        <input type="checkbox" name="medDis" class="medDis" value="근육통">근육통 
                                        <input type="checkbox" name="medDis" class="medDis" value="몸살">몸살
                                    </td>
                                </tr>
                                <tr>
                                    <th>효과</th>
                                    <td>
                                        <input type="text" name="medEff" class="medEff">
                                    </td>
                                </tr>
                                <tr>
                                    <th>제형</th>
                                    <td>
                                        <input type="text" name="medType" class="medType">
                                    </td>
                                </tr>
                                <tr>
                                    <th>제조사</th>
                                    <td>
                                        <input type="text" name="medCom" class="medCom">
                                    </td>
                                </tr>
                                <tr>
                                    <th>복용 가능 연령</th>
                                    <td>
                                        <select id="medAge" onchange="changeFn()">
                                            <option selected>연령을 선택하세요</option>
                                            <option name = "medAge" value="1">전 연령</option>
                                            <option name = "medAge" value="2">7세 미만</option>
                                            <option name = "medAge" value="3">7세 ~ 65세미만</option>
                                            <option name = "medAge" value="4">65세 이상</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>임산부 복용가능 여부</th>
                                    <td>
                                        <input type="radio" name="medPregnant" value="Y">Yes
                                        <input type="radio" name="medPregnant" value="N">No
                                    </td>
                                </tr>
                                <tr>
                                    <th>편의점 유무</th>
                                    <td>
                                        <input type="radio" name="medStore" value="Y">Yes
                                        <input type="radio" name="medStore" value="N">No
                                    </td>
                                </tr>
                                <tr>
                                    <th>약품 이미지</th>
                                    <td>
                                        <input type="file" name="file" id="uploadFile">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button class="btn">약품등록</button>
                                    </td>                                                
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>         
            <div class="footer">
                <span>&copy; COPYRIGHT BY KOREAIT ACADEMY</span>
            </div>
    </div>
    <script type="text/javascript" th:src="@{/js/medInsert.js}"></script>

</body>
</html>