<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="fragment-header">
    <nav class="header-top">
        <div class="login-wrap" th:if="${session.user != null}">
            <p><strong>[[${session.user.userName}]]</strong>님 환영합니다.</p>

            <div class="login-bar">
                <a th:href="@{/mypage/update}">마이페이지</a>
                <a href="">/</a>
                <a th:href="@{/logout}">로그아웃</a>
            </div>
        </div>

        <div class="login-wrap" th:unless="${session.user != null}">
            <p></p>
            <div class="login-bar">
                <a th:href="@{/user/login}">로그인</i></a>
                <a href="">/</a>
                <a th:href="@{/user/register}">회원가입</a>
            </div>
        </div>

        <div class="top-hr">
            <hr>
        </div>

        <nav class="nav-wrap">
            <div class="logo">
                <a th:href="@{/index}"><img th:src="@{/images/nocolorlogo.png}" alt=""></a>
            </div>
            <ul>
                <a th:href="@{/board/boardNotice}"><li>공지사항</li></a>
                <a th:href="@{/board/boardQnA}"><li>QnA</li></a>
                <a th:href="@{/board/boardReview}"><li>약 복용 후기</li></a>
                <a th:href="@{/board/boardList}"><li>약 목록</li></a>
                <form action="">
                    <li class="search">
                        <input type="text" placeholder="약명으로 검색하기">
                        <span></span>
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </li>
                </form>
            </ul>
        </nav>
    </nav>
</header>

</body>
</html>
