
.medList-container{
    width: 85%;
    margin: 0 auto;
    height: 500px;
}

.insert{
    width:100%;
    margin-top: 30px;
    text-align: right;
}

.insert-btn{
    width: 110px;
    height: 50px;

    border: 0;
    border-radius: 10px;
    background-color: #FB4F9C;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
    font-weight: bold;

}

.insert-btn:active{
    background-color: #BE0069;
}



.bottom{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}


.userList-container{
    width: 85%;
    margin: 0 auto;
}

.content-title{
    text-align: center;
    color: #000;
    margin-bottom: 50px;
}





table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 6px 15px;
}
th {
  background: #67B4EF;
  color: #fff;
  text-align: left;
}

td{
    text-align: center;
}

tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eee;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

th:nth-child(1),
th:nth-child(2),
th:nth-child(6),
th:nth-child(7),
th:nth-child(9),
th:nth-child(10){
    width: 2%;

}

th:nth-child(3){
    width: 8%;
}
th:nth-child(4){
    width: 12%;
}

th:nth-child(8){
    width: 10%;
}
th:nth-child(11){
    width:10%;
}
th:nth-child(12){
    width: 11%;
}







