.content-wrap{
    width: 100%;
    margin: 0 auto;
    margin-left: 35px;
    margin-top: 70px;

}


/*관리자 게시물 갯수, 검색창*/
.search-form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 25px;
    padding: 0 15px;

}


.search-right {
    display: flex;
    justify-self: center;
}

.search-box {
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    display: flex;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.sel-box select{
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    padding-left: 5px;
}

.search2 {
    border: 0;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.search2:focus {
    outline: none;
}

.search-box button {
    background-color: transparent;
    cursor: pointer;
    border:0;
    outline: 0;
}

.board-active{
    color: #2196f3;
    text-decoration: underline;
}



.select-style {
    height: 30px;
    border: 1px solid #504d4d;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-box {
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    display: flex;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sel-box select{
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    padding-left: 5px;
}

.search2 {
    border: 0;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.search2:focus {
    outline: none;
}

.search-box button {
    background-color: transparent;
    cursor: pointer;
    border:0;
    outline: 0;
}

/*테이블*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  padding: 6px 15px;

}
th {
  background: #B2B5BA;
  color: #fff;
  text-align: left;
  font-weight: lighter;
}

td{
    text-align: center;
    border: .5px solid #ccc;

}








