.content-wrap{
    width:100%;
    margin-left: 180px;
    margin-top: 60px;
}

.text-box h2{
   color: red;
}

.quit-box{
    display: flex;
}

.first{
    border-top: 1px solid #ccc;
}

.last{
    border-bottom: 1px solid #ccc;
}

.text-box{
    text-align: center;
}

.text-box p{
    margin-bottom: 15px;
}



.text-box h3{
    margin-bottom: 50px;
    text-decoration: underline;
}

.quit-box p {
   color: #000;
   border-right: 1px solid #ccc;
    margin-right: 30px;
    width: 190px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;

}

.quit-box span{
    padding: 20px 0;

}

.quit-box input[type="password"] {
     border: .8px solid #ccc;
     text-align: left;
     height: 100%;
     padding: 4px;

}

.quit-box input[type="password"]:focus {
    outline: none; /* 테두리 색 및 두께 조절 가능 */
}

.quit-btn-box{
    width:100%;
    margin-top: 30px;
    text-align: right;

}

.quit-btn{
    width: 110px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    background-color: tomato;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.quit-btn:active{
    background-color: red;
}
