

.board-bg {
    background-image: url("/images/texture1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    padding-top: 210px;



}

.board-bg-wrap{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center

}

.board-bg-content {
    color: #fff;
    width: 100%;
    max-width: 1280px;

}

.bg-letter{
    margin-top: 100px;
    margin-left: 10px;
}

.bg-letter p {
    color: #fff;
    margin: auto;

    word-spacing: 3px;
    font-size: 16px;
}

.bg-letter span{
    color: rgba(255,255,255,0.6);
}

.bg-letter i{
    color: rgba(255,255,255,0.8);
}

/*---------------------------boardReview content -----------------------*/

.main-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.bg-title {
    height: 300px;
    background-image: url(/images/capsule2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

/* ---------------------section---------------------------- */

.section-container {

    width: 100%;
    margin: 0 auto;
    padding-right: 50px;
    max-width: 1280px;
}

.content-wrap {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 10px;
}

.sub-title{
    width:100%;
    max-width:1280px;
    text-align: center;
    margin: 60px 0;
}

/* ---------------------- content ------------------------ */

.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-right {
    display: flex;
    justify-self: center;
}

select {
    height: 30px;
    border: 1px solid #504d4d;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-box {
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    display: flex;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sel-box select{
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    padding-left: 5px;
}

.search2 {
    border: 0;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.search2:focus {
    outline: none;
}

.search-box button {
    background-color: transparent;
    cursor: pointer;
    border:0;
    outline: 0;
}

/* -----------------------table------------------------ */

table {
    border-collapse: collapse;
    width: 100%;
    /* max-width: 1400px; */
    margin: 0 auto;
    font-size: 14px;
    border-top: 2px solid #000;
}

tr {
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
}

th {
    background-color: #f8f8f8;
}

td,
th {
    padding: 15px;
}

td {
    text-align: center;
}

td:first-child {
    color: #aaa;
}

td:nth-child(2) {
    text-align: left;
    padding-left: 8px;
    cursor: pointer;
    font-weight: 500;
}

td:nth-child(2):hover {
    text-decoration: underline;
    transition: .3s;
}

td:nth-child(3) {
    font-weight: 500;
}



th:nth-child(1) {
    width: 5%;
}

th:nth-child(3) {
    width: 10%;
}

th:nth-child(4) {
    width: 6%;
}

th:nth-child(5) {
    width: 10%;
}

/* ------------------------bottom------------------------- */

.bottom {
    max-width: 1280px;
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
}

.bottom-right {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 5px;
}

.bottom-right button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #696969;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.bottom-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom-center a.active {
    background-color: #eee;
}

.bottom-center a {
    display: inline-block;
    padding: 2px 8px;
    background-color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 1px 0 #eee;
    border-radius: 20px;
}

